[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "==0.2.44"
crewai = "==0.70.1"
crewai-tools = "==0.12.1"
langchain = "==0.2.16"
langchain-community = "==0.2.17"
langchain-openai = "==0.1.25"
duckduckgo-search = "==6.3.0"
pysqlite3-binary = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.10"
